<div style="text-align: left;" class="example-button-row">
    <button mat-raised-button color="primary" routerLink="/crud/form">Add New</button>
</div><br>
<table mat-table [dataSource]="userlist" class="mat-elevation-z8">

  <ng-container matColumnDef="Fname">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ element.Fname }}</td>
  </ng-container>

  <ng-container matColumnDef="Mname">
    <th mat-header-cell *matHeaderCellDef>Middle Name</th>
    <td mat-cell *matCellDef="let element">{{ element.Mname }}</td>
  </ng-container>

  <ng-container matColumnDef="Lname">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.Lname }}</td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let i = index"><span (click)="getdata(i,'E')" class="material-icons">mode_edit</span> <span (click)="deletedata(i)" class="material-icons">delete</span></td>
  </ng-container>



  <tr mat-header-row class="headcolor" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns" 
    (click)="getdata(i,'G')"></tr>
</table>

